.Web_wrapper {
  width: 100%;
  padding: 0 25px;
}

section {
  position: relative;
  width: 100%;
  background-color: var(--white-color);

  border-radius: 35px;
  overflow: hidden;
  margin-bottom: 30px;
}

.tag {
  color: var(--white-color);
  border: 2px var(--light-green-color) solid;
  padding: 5px 10px;
  border-radius: 35px;
  width: 150PX;
  text-align: center;
  font-size: 12px;
}


.service .slider-btn,
.doctor .slider_buttons button {
  background: var(--light-green-color);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  flex-shrink: 0;
  transition: background 0.3s ease;
}

.working_hours {
  background-color: var(--background-color);
  padding: 25px;
  border-radius: 35px;
}

.working_hours div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.open_status p {
  padding: 15px;
  border-radius: 35px;
  text-align: center;
}

.open_status.open p {
  color: var(--white-color);
  border: 2px var(--light-green-color) solid;
}
.open_status.closed p {
  color: var(--dark-pink-color);
  border: 2px var(--light-pink-color) solid;
}


.footer{
  height: 100px;
  width: 100%;
  background-color: var(--dark-color);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 0 35px;
}

.footer p{
  text-transform: uppercase;
  color: var(--white-color);
}